*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principale{
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.one {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.box{
    width: 100px;
    float: right;
    margin: 10px;
}

.nav{
    background-color: white;
    border-bottom: 1px solid darkgray;
}

.uno{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url("../img/jumbo-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.primo{
    position: absolute;
    bottom: 90px;
}

.returnal{
    width: 60%;
    margin-left: 30px;
}

.text-returnal{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 420px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 25px;
}

.text-returnal-title{
    font-size: 30px;
}

button{
    padding: 14px;
    font-size: 18px;
    border-radius: 25px;
    border: 0;
    color: white;
}

.pulsante-uno{
    background-color: orangered;
}

.due{
    height: 100vh;
    width: 100%;
    margin: 0;
}

.two{
    display: flex;
    justify-content: center;
}

.col-1 {
    flex-basis: calc((100% / 6) * 1);
    max-width: calc((100% / 6) * 1);
}

.box-games{
    border: 1px solid gray;
    height: 100px;
    width: 200px;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 20px;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.box-games:hover{
    margin-top: 15px;
    transition: 0.3s;
    border: 2px solid green;
    height: 105px;
    width: 210px;
    margin-left: 10%;
}

.box-games:hover{
    transition: 0.3s;
    border: 2px solid green;
}

.three{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 150px;
}

.box-ps5{
    text-transform: uppercase;
    color: rgb(0, 63, 211);
}

.box-ps5-uno{
    font-size: 40px;
}

.box-ps5-due{
    font-size: 30px;
    margin-top: 30px;
    color: grey;
}

.four, .five, .seven, .eight, .ten, .eleven, .thirteen, .fourteen{
    display: flex;
}

.four{
    margin-left: 35px;
}

.col-1-2{
    flex-basis: calc((100% / 2) * 1);
    max-width: calc((100% / 2) * 1);
}

.ps5{
    width: 90%;
    background-position: top;
}

.quattro{
    height: 100vh;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.cinque{
    background-color: rgb(36, 36, 36);
    height: 100vh;
    width: 100%;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 25px;
}

.seven, .eight, .nine, .twelve{
    margin-top: 20px;
}

.box-esplora, .box-sconti, .box-socials{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

.box-esplora-descrizione, .box-sconti-descrizione{
    color: gray;
}

.sei, .otto{
    height: 100vh;
    width: 100%;
    margin: 0;
}

.col-1-3{
    flex-basis: calc((100% / 3) * 1);
    max-width: calc((100% / 3) * 1);
}

.sette, .nove{
    height: 70vh;
    width: 100%;
    margin: 0;
}

.sette{
    background-color: gray;
}

.ps-plus{
    width: 96vh;
}

.nove{
    background-color: rgb(0, 0, 128);
}

.ps-now{
    width: 85%;
}

.col-1-4{
    flex-basis: calc((100% / 4) * 1);
    max-width: calc((100% / 4) * 1);
}